@font-face {
  font-family: Anton;
  src: url("../fonts/Anton/Anton-Regular.ttf");
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/Roboto_Mono/RobotoMono-Regular.ttf");
}

body {
  background-color: #031d44;
}

#app {
  font-family: "Roboto Mono", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
