body {
  background-color: #2f3eac;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

.router-view > h1,
.router-link-text {
  text-transform: uppercase;
}
.router-view > h1 {
  text-align: center;
  font-size: 4rem;
  margin-top: 0px;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
