@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  background-color: #2f3eac;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

.router-view > h1,
.router-link-text {
  
}
.router-view > h1 {
  
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 800px) {
  .router-view > h1 {
    
  }
}
